header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

header h2{
    color: white;
}

button{
    background: #F1A900;
    width: 192px;
height: 82px;
left: 1191px;
}

.hdr1{
    background: #222222;
}

.hdr1 a{
    text-decoration: none;
    color: #ffff;
    margin: auto;
}

footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}